@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.all-container {
  height: 100%;
  width: 100%;
  background-color: black;
  min-height: 100vh;
}

.global-navbar {
  background-color: rebeccapurple;
  width: 100%;
  padding: 8px;
}

.title-container {
}

.home-header {
  display: flex;
  padding: 8px;
  position: relative;
}

.header-left {
  margin-right: auto;
  display: flex;
  justify-items: center;
}

.header-right {
  margin-left: auto;
  display: flex;
}

.navbar-item {
  color: white;
  justify-items: center;
  line-height: 1.75rem;
}

.primary-search {
  border-radius: 2rem;
  padding: 9px 2.5rem 9px 2.5rem;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 32px;
}

.search-form {
  width: 100%;
}

.text-white {
  color: white;
}

.center {
  text-align: center;
}

.home-container {

}

.all-homepage-container {
  height: 100%;
  min-height: 75vh;
  justify-content: center;
  align-items: center;
  display: flex;
}

.header-left a {
  margin-left: 20px; /* Add consistent spacing between a elements */
  color: white; /* Text color */
  text-decoration: none; /* Remove underline */
  }

.header-left a:first-of-type {
  margin-left: 0; /* Remove margin from the first a element */
}

.button-submit {
  background-color: white;
  color: black;
}

.search-button-div {
  display: flex;
  justify-content: center;
}

/*........................... PLAYER PAGE................................... */
.container-1 {
  background-color: gray;
}

.player-bio-container {
  display: flex;
  margin: 36px;
}

.bio-text-container {
  text-align: left;
  align-items: center;
  padding-left: 36px;
  line-height: 2;
  font-size: 24px;
}

.headshot-container {
  background-color: gray;
  width: 20%;
  line-height: 0;
  img {
    display: block;
    vertical-align: bottom;
    width: auto;
    height: auto;
  }
}

.team-image-container {
  margin-left: auto;
  line-height: 0;
  width: 25%;
}