@import 'constants.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.all-container {
  height: 100%;
  width: 100%;
  background-color: black;
  min-height: 100vh;
}

.global-navbar {
  background-color: var(--purple-600);
  height: 5rem;
  width: 100%;
  padding: 8px 1.5rem;
  justify-content: center;
  align-items: center;
  display: flex;
  z-index: 40;
  top: 0;
  position: sticky;
}

.home-header {
  display: flex;
  padding: 8px;
  position: relative;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 100%;
  height: 100%;
  z-index: 40;

}

.title-header {
  font-size: 1rem;
  line-height: 1.5rem;
  white-space: nowrap;
  align-items:center;
  flex-wrap:nowrap;
  flex-direction: row;
  flex-grow:1;
  display:flex;
  justify-content: flex-start;
  flex-basis:0;
}

.title-text {
  color: white;
  font-weight: 700;
  font-size: x-large;
  margin: 0;
}

.title-text:hover {
  cursor: auto;
}

.navbar-item {
  color: white;
  justify-items: center;
  line-height: 1.5rem;
  white-space: nowrap;
  list-style-type: none;
  font-size: large;
  cursor: pointer;
}

.navbar-item:hover {
  color: var(--blue-700);
}

.active {
  display: flex;
  color: var(--blue-400);
}

.active:after {
  color: var(--blue-400);
}

.navbar-tabs {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  flex-grow: 1;
  height: 100%;
}

.social-icons {
  justify-content: flex-end;
  flex-grow: 1;
  gap: 1rem;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  height: 100%;
  display: flex;
  flex-basis: 0;
}

.primary-search {
  border-radius: 2rem;
  padding: 9px 2.5rem 9px 2.5rem;
}

.search-form {
  width: 100%;
}

.text-white {
  color: white;
}

.center {
  text-align: center;
}

.home-container {

}

.all-homepage-container {
  height: 100%;
  min-height: 75vh;
  justify-content: center;
  align-items: center;
  display: flex;
}

.header-left a {
  margin-left: 20px;
  color: white;
  text-decoration: none;
  }

.header-left a:first-of-type {
  margin-left: 0; /* Remove margin from the first a element */
}

.search-button-div {
  display: flex;
  justify-content: center;
}

.primary-search-container {
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 24px;
}

/*........................... BUTTONS....................................... */

.button-submit {
  background-color: var(--purple-600);
  color: white;
  padding: 8px;
  width: 20%;
  border-radius: 24px;
}

.button-submit:hover {
  background-color: var(--purple-900);
  transition: 0.2s;
}

/*........................... PLAYER PAGE................................... */

/*PLAYER BIO*/
.container-1 {
  background-color: var(--gray-600);
}

.player-bio-container {
  display: flex;
  margin: 36px;
}

.bio-text-container {
  text-align: left;
  align-items: center;
  padding-left: 36px;
  line-height: 2;
  font-size: 24px;
}

.headshot-container {
  background-color: var(--gray-600);
  width: 20%;
  line-height: 0;
  img {
    display: block;
    vertical-align: bottom;
    width: auto;
    height: auto;
  }
}

.team-image-container {
  margin-left: auto;
  line-height: 0;
  width: 25%;
}

/*PLAYER DATA TABLE*/

.shadow-none {
    box-shadow: none !important; /*override for next ui shadow-small*/
}

.container-2 {
  display: flex;
  justify-content: center;
  padding-bottom: 48px;
  .data-table {
    width: 60%;
    border-radius: 12px;
    background-color: var(--gray-800);
    padding: 8px;
    .table-row {

    }
    tr {
      margin-left: 0 !important;
      margin-top: 0 !important;
    }

    th:nth-child(1), td:nth-child(1) {
      position: sticky;
      left: 0;
      z-index: 20;
      background-color: var(--gray-800);
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    th:nth-child(2), td:nth-child(2) {
      position: sticky;
      left: 107px;
      z-index: 15;
      background-color: var(--gray-800);
    }
    table {
      border-collapse: separate;
      border-spacing: 0;
      background-color: var(--gray-800);
    }
    .table-row:hover, .table-row:hover td:nth-child(1), .table-row:hover td:nth-child(2) {
      color: black;
      background-color: var(--purple-100);
      transition: 0.2s;
      z-index: 30;
    }
    .last\:rounded-r-lg:last-child { /* another override. Should consider just building my own component*/
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
  }
}

/*PLAYER LINE CHART */

.container-3 {
  display: flex;
  justify-content: center;
  padding-bottom: 48px;
  height: 515px;

  .line-chart {
    width: 60%;
    border-radius: 12px;
    background-color: var(--gray-800);
    padding: 8px;
  }
}